html {
    background-image: linear-gradient(rgb(39, 58, 66), black, black);
    color: white;
}

/* top banner container */
header {
    overflow: hidden;
    position: relative;
    left: 200px;
}

/* back and forward buttons */
.banner {
    position: relative;
    float: left;
}

/* user icon and username */
/* wanted this to stay visible on the right side of the page 
without scrolling but could not figure it out...*/
#upgrade, #profile, #username {
    display: inline-block;
    position: relative;
    float: right;
}

/* side navigation bar */
nav {
    position: absolute;
    left: 0;
    top: 0;
}

/* main body */
main {
    overflow: hidden;
    position: relative;
    left: 200px;
}