html {
    background-image: linear-gradient(rgb(40, 60, 60), black, black);
    color: white;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

/* top banner container */
header {
    overflow: hidden;
    position: relative;
    left: 200px;
    padding-left: 50px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner {
    width: fit-content;
    height: 15px;
}

.button {
    background-color: transparent;
    border: none;
}

/* NB! I wanted the back and forward buttons to stay on the left of the header
and  Upgrade, user icon and Username to stay on the right side of the page 
but without having to scroll but could not figure it out...*/

/* user icon and username */
.user {
    display: flex;
    flex-direction: row;
}

/* side navigation bar */
.navigation-bar {
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 200px;
    background-color: black;
    padding-right: 25px;
    font-size: 0.85em;
    top: 0;
}

.navigation-bar ul {
    list-style-type: none;
    line-height: 2;
}

hr {
    opacity: 0.25;
}

/* main body */
main {
    overflow: hidden;
    position: relative;
    left: 200px;
    padding-left: 50px;
    max-width: 100%;
}

/*container for all playlists in .good-afternoon */
.good-afternoon {
    display: flex;
    flex-wrap: wrap; 
    margin-left: -20px;
}


.good-afternoon div {
    height: auto;
    max-width: 35%;
    min-width: 30%;
    display: flex;
    align-items: center;
    background-color: rgb(52, 52, 52);
    margin: 0px 0px 10px 20px;
    border-radius: 5px;
    position: relative;
    left: 0;
}

/* images for playlists */
.boombox, .coffee, .jul-dekoration, .roadtrip-1, .chill-1, .piano-keys {
    width: 75px;
    height: 75px;
    border-radius: 5px 0 0 5px;
}

/* text in playlists */
.good-afternoon p {
    margin-left: 20px;
    font-weight: bold;
}

/* hover play button */
.hover-button {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: none;
    transition: 0.3s ease;
    opacity: 0;
}

.good-afternoon div:hover {
    background-color: rgb(65, 65, 65);
}

.mix-80s:hover .hover-button,
.coffee-shop:hover .hover-button,
.jul:hover .hover-button,
.roadtrip1:hover .hover-button,
.chill1:hover .hover-button,
.piano:hover .hover-button {
    opacity: 1;
}