html {
    background-image: linear-gradient(rgb(40, 60, 60), black, black);
    color: white;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

/* top banner container */
header {
    overflow: hidden;
    position: relative;
    left: 200px;
    padding-left: 50px;
    width: 100%;
}

/* NB! I wanted the back and forward buttons to stay on the left of the header
and  Upgrade, user icon and Username to stay on the right side of the page 
but without having to scroll but could not figure it out...*/

/* back and forward buttons */
.button {
    position: relative;
    float: left;
}

/* user icon and username */
#upgrade, #profile, #username {
    display: inline;
    position: relative;
    float: right;
}
/* NB! ^The Upgrade text should actually be on the left and Username text on the right.
I don't know why it switched...*/


/* side navigation bar */
nav {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    background-color: black;
    padding-right: 25px;
    font-size: 0.85em;
}

.navigation-bar ul {
    list-style-type: none;
    line-height: 2;
}

hr {
    opacity: 0.25;
}

/* main body */
main {
    overflow: hidden;
    position: relative;
    left: 200px;
    padding-left: 50px;
}

.good-afternoon {
    display: flex;
    flex-wrap: wrap; 
}

.good-afternoon p {
    width: 250px;
    height: 100px;
    border: 1px solid white;
}

/* NB! I'm still working on making the playlist items wrap
but max 3 per row */